* {
  overflow-x: hidden;
}
.singlePost {
  color: whitesmoke;
  width: 100%;
  /* padding: 2vw; */
  /* border: 2px solid red; */
  flex: 10;
}
.singlePostTitle {
  font-size: 40px;
  margin-top: 1vh;
}
.postData .postDataPara {
  font-size: 100%;
  margin-top: 10%;
  padding: 1px;
  /* text-overflow: ellipsis; */
  min-width: 48ch;
}
.singlePostTitle {
  display: flex;
  flex-direction: row;
  /* display: inline-block; */
}
.singlePostEdit .trashImage {
  cursor: pointer;
  width: 8%;
  margin-left: 70%;
}
.singlePostDelete .pencilImage {
  cursor: pointer;
  width: 8%;
  margin-left: -18%;
}
@media only screen and (max-width: 376px) {
  .singlePost .singlePostWrapperDiv .singlePostImage {
    margin-left: 5px;
    height: 100px;
    width: 90%;
    border-radius: 10px;
    font-size: 10px;
  }
  .singlePost .singlePostWrapperDiv .singlePostTitle {
    color: rgb(255, 247, 0);
    font-size: 22px;
    width: 80%;
    padding: 20px;
    margin-left: 0;
    /* border: 1px solid rgb(107, 226, 52); */
  }
}

@media only screen and (max-width: 413px) {
  .singlePost .singlePostWrapperDiv .singlePostImage {
    margin-left: 5px;
    height: 100px;
    width: 90%;
    border-radius: 10px;
    /* font-size: 10px; */
  }
  .singlePost .singlePostWrapperDiv .singlePostTitle {
    color: rgb(255, 247, 0);
    font-size: 22px;
    width: 80%;
    padding: 20px;
    margin-left: 0;
    border: 1px solid rgb(107, 226, 52);
  }
  .postDataPara{
      color: yellow;
  }
  .postData{
      width: 100%;
  }

}
  @media only screen and (max-width: 821px) {
      .singlePost{
            flex: 9;
            /* color: yellow; */
      }
       .singlePost .singlePostWrapperDiv .singlePostImage {
  width: 100%;
  }
}
