.sidebarPost {
  flex: 2;
  color: whitesmoke;
  padding: 1vw;
  /* width: ; */
}
@media only screen and (max-width: 376px) {
  .sidebarPost {
    display: flex;
    flex-direction: row;
  }  
}
@media only screen and (max-width: 415px) {
  .mainSinglePageDiv .sidebarPost {
      height: 100vh;
      border: 2px solid blue;
  }  
}
@media only screen and (max-width: 821px) {
 .mainSinglePageDiv{
      flex: 3;
      border: 1px solid red;
 }
  
  /* .singlePost .postData .postDataPara {
  color: red;
  width: 100px;
  } */
}
