.post {
    /* border: 2px solid red; */
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  /* width: 100vw; */
  -webkit-box-shadow: 10px 11px 76px 9px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 10px 11px 76px 9px rgba(0, 0, 0, 0.71);
    box-shadow: 10px 11px 76px 9px rgba(0, 0, 0, 0.72);
  /* margin: 50px; */
  /* border: 10px solid red; */
  /* align-items: alig; */
}
.postTitle {
  /* color: rgb(99, 232, 219); */
  color: whitesmoke;
  /* padding: 10px; */
  text-align: center;
  font-size: 21px;
}
.postInfo {
  text-align: center;
}
.post > img {
  border: 1px solid rgb(52, 221, 234);
  width: 100%;
  height: 20vh;
  border-radius: 20px;
}
/* .postInfo{
      color: red;
      
      text-align: center;
} */
/* .postInfo:hover::after
,.postInfo:hover::after{
      position: absolute;
      content: '';
      top: 10.5rem;
      left: 42rem;
      height: 25px;
      width: 285px;
      background: black;
} */
.description > .time {
  color: rgb(210, 187, 55);
  font-size: 12px;
  text-align: center;
}
.description .postCategories{
  color: red;
}
.description > .desPara {
  text-align: center;
  /* color: rgb(210, 187, 55); */
  color: whitesmoke;
  font-size: 16px;
  /* object-fit: cover; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* @media screen and (max-width: 768px) {
  .post > img {
    /* width: 300px; */
  /* } */
  /* .post {
    display: grid;
    
    /* text-align: center; */
    /* grid-template-columns: min-content; */
    /* color: red */
@media screen and (max-width: 375px) {
  .posts {
    margin-right: 0px;
  }
}
@media screen and (max-width: 821px) {
  .post > img {
    width: 100%;
  }
  .post {
    margin-right: 3px;
    width: 36.5vw;
  }
}
.linkClass{
  text-decoration: none;
}
@media screen and (max-width: 913px) {
  .post > img {
    width: 100%;
  }
  .post {
      width: 34.5vw;
  }
}
@media screen and (max-width: 493px) {
  .post .description{
    display: none;
  }
  .post{
    width: 39vw;
    height: 30vh;
  }
}

@media screen and (max-width: 421px) {
  .post{
    margin-top: 10px;
    width: 70vw;
  }
}
@media screen and (min-width: 394px) and (max-width: 413px) {
  .post{
    margin-right: 50.5px;
  }
}