* {
  transition: 0.5s;
}
.sidebar:hover {
  transform: scale(1.05);
}
.sidebar .description {
  font-size: 12px;
}
.sidebar {
  /* -webkit-box-shadow: -10px -25px 91px -13px rgba(205,222,165,1);
  
-moz-box-shadow: -10px -25px 91px -13px rgba(205,222,165,1);
box-shadow: -10px -25px 91px -13px rgba(205,222,165,1); */

  -webkit-box-shadow: 10px 11px 76px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 76px 9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 76px 9px rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  border-radius: 10px;
  flex: 2;
  /* border: 3px solid red; */
}
.MyImage {
  width: 30%;
  height: 60%;
}
.sidebarItem .myImage {
  display: grid;
  place-items: center;
}
.Name {
  font-size: 2vw;
}
p {
  margin-top: 20px;
  font-size: 22px;
}
.sidebarItem {
  text-align: center;
}
.socials {
  text-align: center;
  margin-top: 5vh;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
